### DataFrame 的创建
第一步骤，永远是选择解释器

In [ ]:
import pandas as pd
import numpy as np
#1通过series来创建df
s1= pd.Series([1,2,3,4,5])
s2= pd.Series([6,7,8,9,10])
df = pd.DataFrame({"第一列":s1,"第二列":s2})

In [ ]:
print(df,type(df),type(df["第一列"]))

In [ ]:
#通过字典来创建
df= pd.DataFrame(
    {
        "name":["john","neo","chali","xialuo","lei"],
        "age":[23,32,43,56,12],
        "score":[11,22,33,44,55]
    }, index=[1, 2, 3, 4, 5],columns=["name","age","score"]
)
df

### DataFrame的属性

In [ ]:
print("行索引：")
print(df.index)
print("列标签：")
print(df.columns)
print("值")
print(df.values)

In [ ]:
print("维度：", df.ndim)
print("形状",df.shape)
print("元素个数",df.size)
print("数据类型:", df.dtypes)

In [ ]:
#行列转置
# print(df.T)
df

In [ ]:
# 获取元素 loc iloc at iat
# 某行
print(df.loc[4])   # loc 是显式索引，可以用index
print(df.iloc[3])  # iloc 是隐式索引，只从零开始，不是index

In [ ]:
df

In [ ]:
# 某列数据
print(df.loc[:,"name"])
print(df.iloc[:,0])
df

In [ ]:
#获取单个元素，单个数据
print(df.at[3,"age"])
print(df.iat[2,1])
print(df.loc[3,"age"])
print(df.iloc[2,1])

### 获取单列数据

In [ ]:
print(df['name'])   #类型是series
print(df.name)
print(df[["name"]])  # 类型是df

### 获取多列数据

In [ ]:
print(df[["name","age","score"]])

### 查看部分数据

In [ ]:
print(df.head())

In [ ]:
print(df.tail(3))

### 使用布尔索引来进行筛选

In [ ]:
df.score>40

In [ ]:
df[df.score>40]  # 单个条件

In [ ]:
df[(df.score>30) & (df.age<40)]  #多个条件，不能用and

### 随机抽样

In [ ]:
df.sample()

### DataFrame 常用方法

In [ ]:
print(df.head())
print(df.tail())

In [ ]:
print(df.isin(["neo",22]))   # 查看元素是否在参数集合中
print(df.isna()) #查看是否有缺失值
print(df.sum())
print(df.score.sum())
print(df.score.max())
print(df.age.mean())
print(df.age.median())
print(df.score.mode())

In [ ]:
print(df.score.std())
print(df.score.var())
print(df.score.quantile(0.25))

In [ ]:
print(df.describe())

In [ ]:
print(df.count())  # 每一列非缺失值的个数

In [ ]:
print(df.drop_duplicates())  # 去重复

In [ ]:
print(df.duplicated(subset=['age']))    # 检查是否重复

In [ ]:
df.sample(2)

In [ ]:
print(df.replace(11,22))

In [ ]:
print(df.cumsum())

In [ ]:
print(df.sort_index(ascending=False))

In [ ]:
print(df.sort_values(by='score',ascending=False))  # 按值排序

### 场景分析题应用

场景：某班级的学生成绩数据如下，请完成以下任务：
1.计算每位学生的总分和平均分。

2.找出数学成绩高于90分或英语成绩高于85分的学生。

3.按总分从高到低排序，并输出前3名学生。

'姓名'：['张三'，'李四'，'王五'，'赵六'，'钱七']，

'数学'：[85，92，78，88，95]，

'英语'：[90，88，85，92，80]，

'物理'：[75，80，88，85，90]

In [ ]:
data = {
'姓名':['张三','李四','王五','赵六','钱七'],

'数学':[85,92,78,88,95],

'英语':[90,88,85,92,80],

'物理':[75,80,88,85,90]
}

In [118]:
scores = pd.DataFrame(data)
print(scores)
# 1.计算每位学生的总分和平均分。
scores['总分']=scores[["数学","英语","物理"]].sum(axis=1)
scores['平均分']=round(scores["总分"]/3,2)
scores
# 2.找出数学成绩高于90分或英语成绩高于85分的学生。
scores[(scores['数学'] > 90) & (scores['英语'] > 85)]
# 3.按总分从高到低排序，并输出前3名学生。
scores.sort_values(by='总分',ascending=False).head(3)

   姓名  数学  英语  物理
0  张三  85  90  75
1  李四  92  88  80
2  王五  78  85  88
3  赵六  88  92  85
4  钱七  95  80  90

   姓名  数学  英语  物理   总分    平均分
4  钱七  95  80  90  265  88.33
3  赵六  88  92  85  265  88.33
1  李四  92  88  80  260  86.67